.asset-container {
  a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
    &:hover {
        color: #969696;
    }
  }
  margin-top: 40px;
  margin-bottom: 40px;
  p {
    font-size: 20px;
  }
}
.parallax-container {
  height: 70vh;
  position: relative;

  .content-container {
    position: absolute;
    width: 100%;
    top: 12vh;
    padding: 0 10%;
    .left-side {
      h1 {
        color: #e4c458;
      }
      h4 {
        color: #fff;
      }
      color: #fff;
      background-color: #8d7e72;
      padding: 3rem;
      .btn.btn-primary {
        background: #232323;
        border: 2px solid #232323;
        padding: 10px 10px;
        color: #fff;
      }
      .btn.btn-primary:hover {
        background: #000;
        color: #fff;
      }
    }
  }
  .parallax-image {
    background-image: url("https://r.mobirisesite.com/68356/assets/images/background1.jpg?v=1JVUt0");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
