.post-item {
  .subscribe-box {
    h3 {
      a {
        color: #ac843c;
      }
    }
    margin: 0px 0 20px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    padding: 20px;
  }
  margin-top: 50px;
  .title-section {
    text-align: center;
  }
  .html-content {
    margin: 40px auto;
  }
}
