.about-services {
  .title {
    margin: 80px 0 50px;
    text-align: center;
    h3 {
        font-size: 24px;
      color: #767676;
      font-weight: 300;
    }
  }
  .center-align {
    text-align: center;
    p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 600;
      color: #767676;
    }
  }
  h1 {
    font-size: 48px;
    font-weight: bold;
  }
  section {
    margin: 40px auto;
    text-align: center;
    h2 {
      font-size: 48px;
      font-weight: bold;
    }
    p {
      font-size: 24px;
    }
  }
  .ant-carousel {
    .image-container {
      padding: 0 10px;
    }
    .slick-next {
      right: 20px;
      // font-size: 16px;
      color: #fff;
      width: auto;
      &::before {
        font-size: 20px;
      }
      &:hover::before {
        color: #fff;
      }
    }
    .slick-prev {
      z-index: 1;
      left: 20px;
      color: #fff;
      width: auto;
      &::before {
        font-size: 20px;
      }
      &:hover::before {
        color: #fff;
      }
    }
  }
}
