.news {
  .title {
    margin: 80px 0 50px;
    text-align: center;
  }
  .row {
    cursor: pointer;
    margin: 40px 0;
  }
  h1 {
    font-size: 48px;
    font-weight: bold;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    p {
      font-size: 19px;
      margin-bottom: 0;
    }
    h6 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
  .filter {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button {
      margin: 10px 20px;
      width: 130px;
    }
    .btn.btn-primary {
      background: transparent;
      border: 2px solid #000;
      padding: 10px 30px;
      color: #000;
    }
    .btn.btn-primary:hover {
      background: #000;
      color: #fff;
    }
    .btn.btn-primary.active {
      background: #e4d295;
      border-color: #e4d295;
      color: #000;
    }
  }
  .subscribe-box {
    h3 {
      a {
        color: #ac843c;
      }
    }
    margin: 40px 0 0;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    padding: 20px;
  }
}
